@import url('https://fonts.googleapis.com/css?family=Prosto+One');
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #83E4D5;
}

body * {
    font-family: "Prosto One";
}

.container {
    margin-top: 20px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 120px;
}


.row > div {
    display: inline-block;
    border: 0;
}

#gameDiv {
    opacity: 1;
    transition: opatcity .5s linear 0s;
}

.card,
.removed {
    backface-visibility: hidden;
    margin: 5px;
    height: 110px;
    width: 110px;
    border-radius: 5px;
}

.removed > .front,
.card > .front {
    opacity: 1;
    position: absolute;
    transform: perspective(600px) rotateY(180deg);
    backface-visibility: hidden;
    transition: opacity 1s linear 0s, transform .5s linear 0s;
    height: 110px;
    width: 110px;
    border-radius: 5px;
}
.removed > .back,
.card > .back {
    opacity: 1;
    position: absolute;
    transform: perspective(600px) rotateY(0deg);
    backface-visibility: hidden;
    transition: opacity 1s linear 0s, transform .5s linear 0s;
    height: 110px;
    width: 110px;
    border-radius: 5px;
}