<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/game.css') }}">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" defer></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js" defer></script>
    <script src="{{ url_for('static', filename='scripts/game.js') }}" defer></script>
    <title>Memory Game</title>
</head>
<body>
    <div class="container">
        <form id="gameForm" class="form-inline text-center" role="form">
            
            <h3>TEST YOUR MEMORY</h3>
            <label for="columnNumber"><span class="glyphicon glyphicon-resize-horizontal"></span></label>
            <select name="columnNumber" id="columnNumber" class="selectpicker show-tick show-menu-arrow" data-width="auto" required>
                <option value="" selected disabled>Please select the number or columns</option>
            {% for number in column_number_list %}
                <option value="{{ number }}">{{ number }}</option>
            {% endfor %}
            </select>

            <label for="rowNumber"><span class="glyphicon glyphicon-resize-vertical"></span></label>
            <select name="rowNumber" id="rowNumber" class="selectpicker show-tick show-menu-arrow" data-width="auto" title="Please choose the number of rows" required>
                <option value="" selected disabled>Please select the number or rows</option>
            {% for number in row_number_list %}
                <option value="{{ number }}">{{ number }}</option>
            {% endfor %}
            </select>

            <input type="submit" class="btn btn-primary" id="play" value="Play">
        </form>
    </div>
</body>
</html>